 body {
     background-image: url("mcuposter.png");
     background-color: #cccccc;
     background-position:0 15%;
     background-size: cover;
     margin: 0 auto;
     overflow-y: auto;
 
     
 }

h1, h2 {
    color: rgb(253, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;    
}

h1 {
    font-size: 4rem;
    margin-top: 30vh;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 2rem;
    margin: 0 auto 50px;
    position: top;
}

#search{
    margin: 0 auto;
    display: block;
      }
#btnClick{
    margin: 0 auto;
    display: block;
    
}
.searchbar{
      overflow: hidden;
      border: none;
      padding-bottom: 50px;
      height: 800px;
  }

.movie {
    margin: 0 auto;
    height: 850px;
    width: 600px;
    text-align: right;
    color:white;
    font-size: larger;
    

}

.posts {
    border: 5px solid black;
    padding-right: 5px;    
    box-shadow: 10px 5px 5px black ;
    background-color: goldenrod;
    background-image: url('Marvel1.gif');
    background-size: cover;
    overflow: hidden;
    width: 800px;
    height: 300px;
    
    
}

#title {
    float: left;
    font-size-adjust: initial;
    padding-left: 20px;
}


.dig {
    width: 600px;
    height: 310px;
}